<%- include('header'); -%> 
    <div class="details"> 
        <h1 id="welcome">Contacts</h1>
        <p>Rohan Samuel</p>
        <p>Sharjah</p>
        <p>0544381853</p>
        <p>rjs7@hw.ac.uk</p>
    </div> 
<%- include('footer'); -%>