<%- include('header'); -%> 
    <div class="login">
        <h1 id="login">Login</h1>
        <form action="" method="get">
            Username:<br>
            <input type="text" name="username" placeholder="Username" required><br><br>
            Password:<br>
  	        <input type="password" name="password" placeholder="Password" required><br><br>
            <input type="submit" value="login">
        </form>
    </div>
<%- include('footer'); -%>