<%- include('header'); -%> 
    <div class="register">
        <h1 id="register">Register</h1>
        <form action="" method="post">
            Username:<br>
            <input type="text" name="username" placeholder="Username" required><br><br>
            Password:<br>
  	        <input type="password" name="password" placeholder="Password" required><br><br>
            Society:<br>
  	        <input type="society" name="society" placeholder="Society" required><br><br>
            Contact:<br>
  	        <input type="contact" name="contact" placeholder="Contact" required><br><br>
            Address:<br>
  	        <input type="address" name="address" placeholder="Address" required><br><br>
            Zipcode:<br>
  	        <input type="zipcode" name="zipcode" placeholder="Zipcode" required><br><br>
            City:<br>
  	        <input type="city" name="city" placeholder="City" required><br><br>
            Phone Number:<br>
  	        <input type="pnum" name="phone" placeholder="Phone Number" required><br><br>
            Fax:<br>
  	        <input type="fax" name="fax" placeholder="Fax" required><br><br>
            Max Outstanding:<br>
  	        <input type="maxoutstanding" name="maxoutstanding" placeholder="Max Outstanding" required><br><br>
            <input type="submit" value="register">
        </form>
    </div>
<%- include('footer'); -%>